.main-button {
  background: $light-blue;
  color: $white;
  border: none;
  font-weight: 700;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.2rem;
  width: 100%;
  border-radius: $l-size;
  outline: none;
}

.main-button:disabled {
  opacity: 0.5;
}

.button {
  background: $light-blue;
  color: $white;
  border: none;
  padding: $s-size;
  border-radius: $l-size;
  outline: none;
}

.button-link {
  background: none;
  border: none;
  padding: 0;
}