// Spacing

$s-size: 1.4rem;
$m-size: 1.8rem;
$l-size: 3.4rem;
$xl-size: 5.0rem;

// Color

$dark-grey: #13161b;
$dark-green: #327c13;
$light-green: #6cc644;
$light-grey: #24292e;
$light-blue: #2b61a7;
$white: #fafafa;
$red: #bd2c00;